* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

.container-fluid {
     font-family: sans-serif;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
}

.container{
     width: 100vw;
     height: 100vh;
     text-align: center;
     font-family: sans-serif;
}


.canvas-container {
     width:400px;
     height: 500px;
}

.scelta {
     padding-top: 30px;
     padding-bottom: 30px;
}

.form-vendita{
     padding-bottom: 5px;
}

h1{
     font-size: 30px;
     padding-bottom: 10px;
}
